<div class="row nav">
  <div class="col-xs-8 logo">JoinOn</div>
  <div class="col-xs-2"> 
    <form action="#/" >
    	<button type="submit" class="btn btn-default navlink">
    		Browse
    	</button>
		</form>
  </div>
  <div class="col-xs-2">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle navlink" type="button" data-toggle="dropdown">
        Me <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#/user">My Projects</a></li>
        <li><a href="#" ng-click="logout()">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
<!--Above is Navbar Stuff, Don't Modify-->